<section id="contact-info">
        <div class="center">                
            <h2>Contácto</h2>
        </div>
        <div class="gmap-area">
            <div class="container">
                <div class="row">
                  <!--  <div class="col-sm-5 text-center">
                        <div class="gmap">
                            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/place/GOBERNACIÓN+DEL+ATLÁNTICO/@10.9855481,-74.7819278,18z/data=!3m1!4b1!4m5!3m4!1s0x8ef42d62868ac553:0x7a6caa4d4d1c55db!8m2!3d10.985546!4d-74.7810592?hl=es"></iframe>
                        </div>
                    </div>
-->
                    <div class="col-sm-7 map-content">
                        <ul class="row">
                            <li class="col-sm-6">
                                <address>
                                    <h5>WENDY RICO</h5>
                                    <p>Teléfono: 3307210 <br>
                                    Email Address:info@domain.com</p>
                                </address>

                                <address>
                                    <h5>HAROLD TORRES</h5>
                                    <p>Teléfono: 3307210 <br>
                                    Email Address:info@domain.com</p>
                                </address>
                            </li>


                            <li class="col-sm-6">
                                <address>
                                    <h5>JUAN MANUEL GRAU</h5>
                                    <p>Teléfono: 3307210 <br>
                                    Email Address:info@domain.com</p>
                                </address>

                                <address>
                                    <h5>MAIRA ALEJANDRA PARRA</h5>
                                    <p>Teléfono: 3307210 <br>
                                    Email Address:info@domain.com</p>
                                </address>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>  <!--/gmap_area -->

    <section id="contact-page">
        <div class="container">
            <div class="center">        
                <h2>Registre su mensaje, comentario, petición, queja o reclamo</h2>
            </div> 
            <div class="row contact-wrap"> 
                <div class="status alert alert-success" style="display: none"></div>
                <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="mail.php">
                    <div class="col-sm-5 col-sm-offset-1">
                         <div class="form-group">
                            <label>Cédula *</label>
                            <input type="number" name="cedula" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Nombre *</label>
                            <input type="text" name="name" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Correo *</label>
                            <input type="email" name="email" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Teléfono</label>
                            <input type="number" name="telefono" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label>Tema *</label>
                            <input type="text" name="subject" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Descripción *</label>
                            <textarea name="message" id="message" required="required" class="form-control" rows="8"></textarea>
                        </div>                      
                        <div class="form-group">
                            <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">Enviar mensaje</button>
                        </div>
                    </div>
                </form> 
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#contact-page-->
