
	<div class="center wow fadeInDown">
				<h2>	Derechos Humanos</h2>
		</div>

<div class="col-xs-12 col-sm-10 blog-content">
                                    <h2>Consequat bibendum quam</h2>
                                    <p>El 09 de Septiembre de la presente vigencia se conmemora el Día Nacional de los Derechos Humanos, así mismo del 6 al 13 de septiembre es la semana por la Paz, por ello diferentes instituciones gubernamentales y organizaciones sociales hemos confluido en una agenda conjunta para articular esfuerzos y llevar  a cabo una acción que visibilice la importancia de una cultura de Derechos Humanos y Paz en nuestro territorio.</p>

                                    <p>Curabitur quis libero leo, pharetra mattis eros. Praesent consequat libero eget dolor convallis vel rhoncus magna scelerisque. Donec nisl ante, elementum eget posuere a, consectetur a metus. Proin a adipiscing sapien. Suspendisse vehicula porta lectus vel semper.</p>

                                    <div class="post-tags">
                                        <strong>Tag:</strong> <a href="#">Cool</a> / <a href="#">Creative</a> / <a href="#">Dubttstep</a>
                                    </div>
  </div>