 <section>
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav" ng-init="listsMun()">
                    <li class="sidebar-brand">
                        
                            Municipios
                        
                    </li>
                    <li ng-repeat="municipio in municipios">
                        <a href="#/sub/{{municipio.ID}}">{{municipio.Nombre}}</a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper" style="height:100%;">
                <div class="container-fluid" ng-init="getMunicipio()">
                    <div class="row">
                        <div class="col-lg-12" style="margin-bottom:15px;">
                            <h2>Juntas de acción comunal Departamento del Atlántico</h2>
                            <h2>{{municipioSel[0].Nombre}}</h2>
                            
                            <!--<p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                            <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p> -->
                            <a class="btn btn-primary" href="#/">Volver al inicio</a>
                        </div>
                    </div>
                </div>
                <table datatable="ng" id="juntas" class="list-group" dt-options="dtOptions">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  ng-repeat="junta in juntas">
                            <th>
                                <a href="#/sub/mun/{{junta.cod}}" class="list-group-item">{{junta.jurisdiccion}}</a>
                            </th>
                        </tr>
                    </tbody>
                </table>
                
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        
        
      
    </section><!--/#error-->


