    <section id="about-us">
        <div class="container">
			<div class="center wow fadeInDown">
				<h2>	Oficina Para La Reparación Integral A Las Victimas Del Conflicto Armado</h2>
		</div>

			<!-- about us slider -->
		

      <div class="get-started center wow fadeInDown">
          <h2>Misión Oficina Victimas</h2>
          <p class="lead">Liderar acciones articuladas con la Nación, los Municipios  y la sociedad para garantizar el ejercicio de los derechos de las víctimas, para contribuir a la inclusión social, la reconciliación y la paz.</BR>
</BR>
</p>
<h2>Visión Oficina Victimas</h2>
          <p class="lead">A 2021 lograr que las víctimas atendidas logren el restablecimiento efectivo de sus derechos  y aporten en la consolidación de la paz como resultado de la gestión efectiva y coordinada de la Gobernación con los demás actores del Sistema.</BR>
</BR>
</p>
          <div class="request">
              <h4><a href="#">Atlántico</a></h4>
          </div>
      </div>
      
      <div class="center wow fadeInDown">
				<h3>Perfil	Coordinadora Oficina De Victimas</h3>
				<p class="lead">Karen Osorio García es abogada de la Universidad del Norte de Barranquilla, especialista en Derecho público de la misma universidad, especialista en Gestión de Entidades Territoriales de la Universidad Externado de Colombia y Magister en Gestión Publica de la Universidad Autónoma De Barcelona. Su experiencia la ha puesto al servicio del Área Metropolitana de Barranquilla y la Gobernación del Atlántico. También se ha desempeñado como docente universitaria.</p>
		</div>
		
		 <div class="center wow fadeInDown">
				<h3>Actividades</h3>
				<p class="lead">•	En el Centro Regional de Victimas y La Oficina de Pastoral Social tenemos abogados que se encargan de brindar ayuda en temas concerniente a derechos de peticiones y acciones de tutela.</p>
	            <p class="lead">•	Articulación con Entidades de SNARIV para la aplicación de la política de pública.</p>
	            <p class="lead">•	Programas de atención psicosocial en el Centro Regional.</p>
	
	
		</div>

       <div class="center wow fadeInDown">
				<h3>Contácto</h3>
				<p class="lead">•	<b>Oficina Para La Reparación Integral A Las Victimas Del Conflicto Armado:</b>
             Dirección: Calle 40 # 45-46 Piso 10
             Teléfono: 3307333
</p>
	            <p class="lead">•	<b>Centro Regional De Victimas: Dirección:</b> Calle 17b y 18 entre carrera 51 y 52 Barrio las ferias, Municipio de Soledad
Correo: centroregionalvictimas@soledad-atlantico.gov.co
</p>
	
	
		</div>
		

   

    